/*
Colors used

Primary Color (Dark Orange): #F27C59;
Secondary Color (Dark Gray): #768188;
Secondary color (Dark Green-Blue): #6991AC;
*/
body {
  background-color: white;
  font-family: "Open Sans", pt serif;
  color: black;
  font-size: 16px;
  line-height: 1.6;
}

.logo {
  display: block;
  margin-top: 20px;
}

.nav-bar {
  background-color: #f2f2f2;
}

.navigation {
  text-align: center;
  padding: 50px;
}

.navigation > li {
  display: inline-block;
  text-align: center;
  padding: 0 10px;
  text-decoration: none;
  list-style-type: none;
}

.introduction {
  height: 300px;
  padding: 60px 0;
  margin-bottom: 30px;
  text-align: center;
  color: black;
  line-height: 50px;
}

.introduction h1 {
  font-size: 50px;
}

.introduction span {
  font-size: 30px;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Open Sans";
  color: black;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Open Sans";
  color: black;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  font-family: "Open Sans";
  color: black;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Open Sans";
  color: black;
}

h5 {
  font-size: 18px;
  font-weight: 400;
  font-family: "Open Sans";
  color: black;
}

a {
  color: #CA3B10;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:focus {
  color: #F27C59;
}

a:active {
  color: black;
}

a.nav {
  text-decoration: none;
}

button,
.button {
  text-decoration: none;
  border: none;
  font-family: Open Sans;
  background-color: #97a4b6;
  font-size: 16px;
  color: white !important;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #F27C59;
  transition: 0.2s opacity;
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
  background-color: #87594b;
}

/* Layout styling */
* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  min-height: 100vh;
}

.columns-container {
  padding: 0 20px;
}

.column-4 {
  width: 23.5%;
  float: left;
  margin-right: 2%;
  margin-bottom: 20px;
}

.column-4:last-child {
  margin-right: 0;
}

.column-4 img {
  max-width: 100%;
  vertical-align: top;
}

.fade {
  background-color: white;
}

.project-title {
  text-align: center;
}

.project-details {
  opacity: 0;
  position: relative;
  display: block;
  top: -150px;
  padding: 10px;
  height: 0;
  color: Orange;
  text-align: center;
}

@keyframes color-change {
  0% { fill: #edc655; }
  50% { fill: #fcffad; }
  100% { fill: #f76414; }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from { transform: translate(0, 50px); }
  to { transform: translate(200px, 50px); }
}

.cloud-front {
  animation-duration: 3s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from { transform: translate(446px, 48px); }
  to { transform: translate(100px, 48px); }
}

@media only screen and (max-width: 991px) {
  .column-4: {
    width: 48%;
    margin-right: 0;
  }

  .column-4:nth-child(2n) {
    margin-right: 0;
  }
}

@media all and (max-width: 500px) {
  .logo {
    /* Make logo smaller by changing it's height */
    height: 50px;
  }

  h1 {
    /* Reduce font-size of heading */
    font-size: 20px;
    text-align: left;
  }

  .column-4 {
    /* Modify 4-column to 2-columns */
    width: 100%;
    margin-right: 0%;
  }

  .column-4 img {
    width: 100%;
  }

  .column-4:last-child {
    margin-right: 0;
  }

  .introduction h1 {
    font-size: 25px;
  }

  .introduction span {
    font-size: 22px;
  }

  .introduction {
    height: 135px;
    padding: 1px 0;
  }
}
